@model TrainReservation.Models.Journey

@{
    ViewData["Title"] = "Edit an existing Journey";
}

<div class="mb-4 mt-4">
    <h2>Edit an existing Journey</h2>
    <i class="fas fa-train"></i> <a asp-action="Index">Journeys</a>
</div>

<div class="row">
    <div class="col-md-5">

        <div class="card">
            <div class="card-body">

                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="JourneyID" />
                    
                    <div class="form-group">
                        <label asp-for="Departure" class="control-label"></label>
                        <input asp-for="Departure" class="form-control" />
                        <span asp-validation-for="Departure" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Destination" class="control-label"></label>
                        <input asp-for="Destination" class="form-control" />
                        <span asp-validation-for="Destination" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="DepartureTime" class="control-label"></label>
                        <input asp-for="DepartureTime" class="form-control" />
                        <span asp-validation-for="DepartureTime" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="ArrivalTime" class="control-label"></label>
                        <input asp-for="ArrivalTime" class="form-control" />
                        <span asp-validation-for="ArrivalTime" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input asp-for="Price" class="form-control" placeholder="Ex. 20.00" />
                        </div>
                        
                        <span asp-validation-for="Price" class="badge badge-danger mt-2"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="TrainID" class="control-label">Train</label>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-train"></i></span>
                            </div>
                            <select asp-for="TrainID" class ="form-control" asp-items="ViewBag.Trains">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input class="mr-2" asp-for="AllowSeatReservation" />
                                Allow users to select seats
                            </label>
                        </div>
                    </div>

                    <div class="form-group mb-0">
                        <input type="submit" value="Save" class="btn btn-sm btn-dark" />
                    </div>
                </form>

            </div>
        </div> <!-- </card>-->

    </div> <!-- </col> -->
</div> <!-- </row> -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
