

li {
    list-style: none;
}

/* <Table styles start here> */
.table__head {
    background: #A8C69F;
}
    .table__head th {
        border-bottom: none !important;
    }
/* </Table styles end here> */

/* <Booking styles start here */
.passengers {
	display: flex;
		align-content: center;
	margin: 3% 0;
}	

	.passengers__title {
		background: #729EA1;
		border-radius: 5px;
		color: #FAF6E9;
		font-size: .8rem;
		font-weight: 700;
		
		line-height: 25px;
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 1rem;
		padding: 0 7px;
	}

	.passengers__control {
		border-radius: 2px;
		border: 2px solid #2B282A;
		display: flex;
		margin-right: 1rem;
		height: 25px;
		text-align: center;
	}

	.passengers__number {
		background: none;
    	outline: none;
		pointer-events: none;
		text-align: center;
		height: 25px;
		width: 40px;
	}

	.passengers__number--minus,
	.passengers__number--plus {
		background: #FAF6E9;
		cursor: pointer;
		font-weight: 700;
		transition: background 330ms ease-in-out;
		width: 20px;
	}
		.passengers__number--minus .minus {
			position: relative;
				bottom: 2px;
		}

	.passengers__number--minus:hover,
	.passengers__number--plus:hover {
		background: #DB9D47;
		color: #fff;
	}


/* <Booking styles end here */

.seats-reservation {
	display: none;
	height: 75vh;
	overflow-y: auto;
}

/* <Train mockup styles start here */
.train {
	display: grid;
	grid-template-columns: 40px 40px 20px 40px 40px;
	grid-template-rows:  minmax(min-content, max-content);
	
	grid-gap: 10px 10px; 
}
	.train__seat {
		display: flex;
			justify-content: center;
			align-items: center;
		background: #fff;
		border: 3px solid #e3e3e3;
		cursor: pointer;
		color: #A09D98;
		font-weight: 700;
		height: 40px;
	}

	.train__seat--selected {
		background: #81D67C;
		border: 3px solid #81D67C;
		color: #fff;
	}

	.train__seat--taken {
		background: #EA6565;
		border: 3px solid #EA6565;
		color: #fff;
		cursor: default;	
	}

	.head {
		background: #e3e3e3;
		height: 6px;
		width: 10px;
	}
		.head--bottom {
			margin: -12px auto auto auto;
		}
	
		.head--top {
			margin: auto auto -12px auto;
		}

	.seat__space {
		height: 30px;
	}
/* </Train mockup styles start here */

/* <Payment section styles start here> */
.nav-pills .nav-link {
	color: #729EA1;
}

.nav-pills .nav-link.active, 
.nav-pills .show > .nav-link {
	background-color: #729EA1;
}

/* </Payment section styles start here> */

/* <Footer styles start here> */
.footer {
    color: #E3DDDD;
    background: #2B282A;
}
    .footer .footer__link {
        color: #888C98;
    }
/* </Footer styles end here> */

